.todo-input {
    text-align: center;
}

.plus-btn {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    background-color: #344e41;
    color: white;
}

.todo-form {
    display: flex;
    background-color: white;
    height: 3em;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.todo-form input {
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 2em;
}