.todo-item {
    display: flex;
    background-color: #fefae0;
    width: 100%;
    padding: 0 1em;
    margin: 10px;
    width: fit-content;
}


.todo-description {
    justify-content: space-between;
}

.task-complete {
    text-decoration: line-through;
}

.task-incomplete {
    text-decoration: none;
}

.todo-item button {
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
}

.item-hovered {
    background-color: #faedcd;
}

.item-not-hovered {
    background-color: #fefae0;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 400px) {
    .todo-item {
        display: block;
        padding: 0.5em;
    }

    .todo-item button {
        font-size: 15px;
    }

    .show {
        display: inline;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.8em;
    }
}